
body{
    background-color: aqua;
    /*display: flex;*/
    /*justify-content: space-between;*/
}

.header{
    display: block;
    margin: 0 20px;
}

section{
    width: 50%;
    margin: 0 20px;
    display: inline-block;
}